[submodule "external/micropython"]
	path = external/micropython
	url = https://github.com/RandyMcMillan/micropython.git
	branch = 7c54b6428058a236b8a48c93c255948ece7e718b
[submodule "external/ckcc-protocol"]
	path = external/ckcc-protocol
	url = https://github.com/Coldcard/ckcc-protocol.git
[submodule "external/mpy-qr"]
	path = external/mpy-qr
	url = https://github.com/coinkite/mpy-qr.git
[submodule "external/libngu"]
	path = external/libngu
	url = https://github.com/switck/libngu.git
