[submodule "external/micropython"]
	path = external/micropython
	url = https://github.com/Coldcard/micropython.git
	branch = master
[submodule "external/trezor-crypto"]
	path = external/trezor-crypto
	url = https://github.com/trezor/trezor-crypto.git
[submodule "external/modcryptocurrency"]
	path = external/modcryptocurrency
	url = https://github.com/Coldcard/modcryptocurrency.git
[submodule "external/crypto"]
	path = external/crypto
	url = https://github.com/peter-conalgo/trezor-crypto.git
[submodule "external/ckcc-protocol"]
	path = external/ckcc-protocol
	url = https://github.com/Coldcard/ckcc-protocol.git
