# desktop python modules required to build firmware binaries
namedlist
pyusb

-r ./cli/requirements.txt
-r ./external/ckcc-protocol/requirements.txt
-r ./testing/requirements.txt
-r ./unix/requirements.txt
-r ./misc/gpu/requirements.txt

ckcc-protocol[cli]

