# see also? ../cli/requirements.txt

# for testing (only)
pytest==6.2.5
pycoin==0.80
python-bitcoinrpc>=1.0
pyserial
mnemonic==0.18
onetimepass==1.0.1

# for QR scanning (pulls in numpy)
zbar-py==1.0.4

# NFC and NDEF handling
nfcpy==1.0.3
ndef==0.3.3
