# see also? ../cli/requirements.txt

# for testing (only)
pytest==6.2.5
pyserial
ecdsa  # already required by ckcc-protocol
python-secp256k1==0.2.0
mnemonic==0.18
onetimepass==1.0.1

# for QR scanning (pulls in numpy)
zbar-py==1.0.4

# NFC and NDEF handling
nfcpy==1.0.3

# optional, and only helpful if you have a desktop NFC-V capable reader
pyscard==2.0.10

# BSMS library
git+https://github.com/coinkite/bsms-bitcoin-secure-multisig-setup.git@master#egg=bsms-bitcoin-secure-multisig-setup

# BBQr library
git+https://github.com/coinkite/BBQr.git@master#egg=bbqr&subdirectory=python

