# symlinks managed by Makefile
l-port
l-mpy
micropython
coldcard-mpy

# my personal virtualenv
ENV

snapshot-*.png
movie-*.gif

# this file is created once you import an HSM policy
unix/work/hsm-policy.json
