# symlinks created by makefile
l-port
l-mpy

# build products
build/
mpy-files.timestamp
firmware.lss
firmware-signed.*
firmware.elf
file_time.c
*-RC1-coldcard.dfu
RC2-*.dfu

# somewhat useful binary snapshots
mostly.dfu
firmware-signed.dfu

dev.bin
dev.dfu

# byproducts of check-repro target
check-fw.bin
check-bootrom.bin
repro-got.txt
repro-want.txt

C
